@model List<Category>

<!-- Add temporary data to show notification of CRUD functionality -->
@if(TempData["Success"]!=null)
{
    <h3>@TempData["Success"]</h3>
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            @* anchor tag to tell which controller and which action this button will take the user to *@
            <a asp-controller="Category" asp-action="Create" class="btn btn-dark">
                <i class="bi bi-plus-square m-1"></i>Create New Category
            </a>
        </div>
    </div>
<table class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Category Order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Loops through obj Category and display all of the categories -->
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <div class="w-100 btn-group" role="group">
                        <!-- Use asp-route- to pass the ID of each category -->
                        <a asp-controller="Category" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-dark">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger">
                            <i class="bi bi-x-square"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>